body {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #282D35;
    color: #fff;
    line-height: 30px;
}

h1 {
    font-size: 50px;
}

ul li {
    font-size: 22px;
    line-height: 40px;
}

ul li::marker {
    color: #00d8ff;
    font-size: 30px;
}

header {
    font-size: 25px;
    color: #00d8ff;
    height: 120px;
    background-color: #21222A;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.192);
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #21222A;
}

.page-header {
    font-size: 25px;
    color: #00d8ff;
    height: 120px;
    background-color: #21222A;
    display: flex;
    align-items: center;
    padding: 10px;
}

.header-logo {
    padding: 10px;
    width: 55px;;
}

.page-content {
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-left: 10px;
    font-size: 1.4rem;
}