body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #282D35;
    color: #fff;
    line-height: 30px;
}

h1 {
    font-size: 50px;
}

ul li {
    font-size: 22px;
    line-height: 40px;
}

ul li::marker {
    color: #00d8ff;
    font-size: 30px;
}

header {
    font-size: 25px;
    color: #00d8ff;
    height: 120px;
    background-color: #21222A;
    display: flex;
    align-items: center;
    padding: 10px;
}

footer {
    /* font-size: 13px; */
    padding: 20px;
    text-align: center;
    background-color: #21222A;
}

.page-header {
    font-size: 25px;
    color: #00d8ff;
    height: 120px;
    background-color: #21222A;
    display: flex;
    align-items: center;
    padding: 10px;
}

.header-logo {
    width: 40px;
    padding: 10px;
}

.page-content {
    padding: 20px;
}